<mat-card>
<div fxLayout='row' >
  <div fxFlex="100">

    <mat-toolbar color="warn">
      <mat-toolbar-row>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" opened color="primary">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button> <h2>Note App</h2>
        <button type="button" class="ml-30" aria-label="Toggle sidenav" mat-icon-button (click)="removeNote(noteToDelete)" opened color="primary">
          <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
        </button>
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="editNote(notes)" opened color="primary">
          <mat-icon aria-label="Side nav toggle icon">edit</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="example-container">
      <mat-sidenav #drawer mode="side" opened>
        <div class="main__editor">
          <div class="main__editor-preview">
            <h2 class="main__editor-preview-title">Preview</h2>
            <p class="preview"> {{today | date:'fullDate'}} {{today | date:'h:mm a'}}</p>
            <div class="preview">
              <h3 class="preview__title">{{previewTitle ? previewTitle : 'title'}}</h3>
              <div class="preview__content" [innerHTML]="previewContent"></div>
            </div>
          </div>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="main__editor">
          <div class="main__editor-form">
            <h2 class="main__editor-form-title">New note</h2>
            <p> {{today | date:'fullDate'}} {{today | date:'h:mm a'}}</p>
            <form class="form" [formGroup]="noteForm" (ngSubmit)="onSubmit(noteForm.value)">
              <div class="form__group">
                <input type="text" class="form__control" id="title" required name="title" placeholder="Your note title" [formControl]="noteForm.controls['title']">
              </div>
              <div class="form__group">
                <textarea class="form__control" id="content" required name="content" placeholder="Your note content: feel free to use markdown if you like!" [formControl]="noteForm.controls['content']"></textarea>
              </div>
              <button type="submit" class="form__submit" [disabled]="!noteForm.valid">Save</button>
            </form>
          </div>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>

  </div>
</div>

</mat-card>
